# Python Essentials Tutorials

http://bigdata-madesimple.com/step-by-step-approach-to-perform-data-analysis-using-python/#sthash.euF9TAN6.dpuf

https://nbviewer.jupyter.org/gist/manujeevanprakash/e97defef743c4ddefcb1

In [1]:
print "Big data examiner"
a = "big data"
type(a)
isinstance(a, (str))

Big data examiner

True

In [14]:
import numpy as np
data_new = [5, 6, 3, 5]
print data_new
type(data_new)

[5, 6, 3, 5]

list

In [15]:
data = np.array(data_new)
print type(data)
data

<type 'numpy.ndarray'>

In [23]:
x = [1, 2, 4, 5]
y = x
z = list(x)
print(x)
print(type(x))
print(type(y))
print(type(z))
print (x is y)
print(x is z)
print(x is not z)

[1, 2, 4, 5]
<type 'list'>
<type 'list'>
<type 'list'>
True
False
True

In [27]:
x // y
x ** y
x <= y

TypeError: unsupported operand type(s) for //: 'list' and 'list'

In [31]:
print "hii space left is just %d gb and the database is %s" % (0.3353, "python")

hii space left is just 0 gb and the database is python

In [32]:
print """
hi,

world!
"""

hi,

world!

In [33]:
a = "abs"
a.replace("a", "A")

'Abs'

In [34]:
a

'abs'

In [37]:
print bool([])
print bool([1, 3, 4])
print bool("hello"), bool("")

False
True
True False

In [39]:
print bool(0)
print bool(1)

False
True

In [49]:
import datetime as dt
print dt.datetime(1986, 6, 9, 1, 30)

print dt.datetime(1986, 6, 9, 1, 30).year
print dt.datetime(1986, 6, 9, 1, 30).month
print dt.datetime(1986, 6, 9, 1, 30).day

print dt.datetime(1986, 6, 9, 1, 30).hour
print dt.datetime(1986, 6, 9, 1, 30).minute
print dt.datetime(1986, 6, 9, 1, 30).second

print dt.datetime(1986, 6, 9, 1, 30).date()
print dt.datetime(1986, 6, 9, 1, 30).time()

print dt.datetime(1986, 6, 9, 1, 30).strftime("%m/%d/%y %H:%M:%S")


print dt.datetime.strptime("1989911", "%Y%m%d")

print dt.datetime(1986, 6, 9, 1, 30).replace(hour = 0, minute = 0, second = 30)

1986-06-09 01:30:00
1986
6
9
1
30
0
1986-06-09
01:30:00
06/09/86 01:30:00
1989-09-11 00:00:00
1986-06-09 00:00:30

In [51]:
print(float("7.098"))
print(float("hello"))

7.098

ValueError: could not convert string to float: hello

In [52]:
def return_float(x):
    try:
        return float(x)
    except:
        return x

print return_float("hello")
print return_float(123)

hello

In [55]:
def return_float(x):
    try:
        return(x)
    except(TypeError, ValueError):
        return x
    
print return_float((9, 8))
print return_float("hello")

(9, 8)
hello

In [57]:
x = "Life is short use Python"
"This is my favorite quote" if x == "Life is short use python" else "I hate R"

'I hate R'

In [60]:
ml = (77, 49, 20)
type(ml)
ml2 = (ml, (1, 3, 4))
print(ml2)
print type(ml2)

((77, 49, 20), (1, 3, 4))
<type 'tuple'>

In [63]:
countries = ["china", "canada"]
y = countries.extend(["france", "turkey"])
x = countries.sort(key=len)
print(countries)
print(y)
print(x)

['china', 'canada', 'france', 'turkey']
None
None

In [64]:
len(countries)

4

In [68]:
import bisect as bs
b = [1, 4, 5, 6, 6, 5]
b.sort()
print(b)
x = bs.bisect(b, 4)
print(x)

[1, 4, 5, 5, 6, 6]
2

In [69]:
languages = ["java", "python", "r"]
for i, val in enumerate(languages):
    print i, val

0 java
1 python
2 r

In [70]:
xrange(100)

xrange(100)